@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


body {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    background-color: #2b2b2b;
    color:white;
    /* overflow: hidden; hides scroll bar by default... and disables scrolling */
}

.alert-text {
    color: rgb(97, 252, 149);
    text-align: center;
    margin-left: 125px;
    margin-top: 205px;
    padding: 0;
    /* border: 1px solid green; */
}

::-webkit-scrollbar {
    display: none; /*hides scroll bar but still allows scrolling with mouse wheel*/
}

.caption {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: lighter;
    margin-left: 45%;
    display: block;
}

.pfp {
    height: 125px;
    width: 125px;
    margin-left: 245px;
    border-radius: 50%;
}

.icons {
    display:inline-block;
    margin: 5px 10px 5px 15px;
    height: 30px;
    width: 30px;
}

.iconbox {
    margin-left: 190px;
    width: 235px;
    padding: 0px;
    /* border: 1px solid rgb(128, 0, 111); */
}

.centerbox {
    margin:auto;
    margin-top: 10%;
    width: 500px;
    display: block;
    /* border: 1px solid green; */
}

.name {
    font-size: 4em;
    margin: 60px;
    margin-bottom: 0;
    width: 200px;
    float:left;
    border-bottom: 2px solid;

}
  
#title {
    margin: 0;
    text-align: center;
    margin-left: 75px;
    /* border: 2px solid green; */
    width: 175px;
}

a, a:visited {
    text-decoration: none;
}

.icons2 {
    display:inline-block;
    margin-top: 0px;
    margin: 20px 20px 20px 10px;
    height: 40px;
    width: 40px;
}
.toolsbox {
    /* margin-left: 1500px; */
    float: right;
    width: 50px;
    height: 325px;
    padding: 15px;
    /* border: 1px solid rgb(128, 0, 111); */
}

#toggleDark {
    float: right;
    margin: 90px;
    margin-right: 120px;
    scale: 200%;
}

i {
    cursor: pointer;
}